<% content_for :title, "Editing reference" %>

<h1>Editing reference</h1>

<%= render "form", admin_reference: @admin_reference %>

<br>

<div>
  <%= link_to "Show this reference", @admin_reference %> |
  <%= link_to "Back to references", admin_references_path %>
</div>
