<% content_for :title, "New document data dictionary" %>

<h1>New document data dictionary</h1>

<%= render "form", document_data_dictionary: @document_data_dictionary %>

<br>

<div>
  <%= link_to "Back to document data dictionaries", document_data_dictionaries_path %>
</div>
