SOLR_VERSION=8.11.1

# Solr - Local development
SOLR_URL=http://127.0.0.1:8983/solr/blacklight-core

# Solr - Remote development
# SOLR_URL=https://remote_server/solr/core
# SOLR_BASIC_AUTH_USER=user
# SOLR_BASIC_AUTH_PASSWORD=password

# BL API
BLACKLIGHT_URL=http://localhost:3001
BLACKLIGHT_JSON_API=http://localhost:3001/admin/api.json
BLACKLIGHT_JSON_API_IDS=http://localhost:3001/admin/api/ids.json
BLACKLIGHT_JSON_API_FACETS=http://localhost:3001/admin/advanced_search/facets.json

# BL IDS
BLACKLIGHT_JSON_IDS=http://localhost:3001/admin/ids.json

GEOMG_DB_DATABASE=geoblacklight_development
GEOMG_DB_USER=
GEOMG_DB_PASSWORD=

GEOMG_DEVISE_SECRET_KEY=generated-by-rake-secret

# Blazer
BLAZER_UPLOADS_URL=postgresql://127.0.0.1:5432/geoblacklight_development
MAPBOX_ACCESS_TOKEN=your-key-here
