<p style="color: green"><%= notice %></p>

<% content_for :title, "Document references" %>

<h1>Document references</h1>

<div id="document_references">
  <% @document_references.each do |document_reference| %>
    <%= render document_reference %>
    <p>
      <%= link_to "Show this document reference", document_reference %>
    </p>
  <% end %>
</div>

<%= link_to "New document reference", new_admin_document_document_reference_path %>
